/* src/SkillSlider.css */
@keyframes scrollX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-x-animation {
  animation: scrollX 30s linear infinite;
  white-space: nowrap;
  display: flex;
  gap: 2.5rem; /* gap-10 in Tailwind */
}

.paused {
  animation-play-state: paused;
}
